<h2><%= I18n.t('devise.registration.title') %></h2>

<%= google_authenticator_qrcode(resource) %>

<%= form_for(resource, as: resource_name, url: [:refresh, resource_name, :displayqr], html: { method: :post }) do |f|%>
  <p><%= f.submit I18n.t('devise.registration.newtoken') %></p>
<% end %>

<%= form_for(resource, as: resource_name, url: [resource_name, :displayqr], html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  <h3><%= I18n.t('devise.registration.nice_request') %></h3>
  <p><%= f.label :gauth_enabled, I18n.t('devise.registration.qrstatus') %><br />
  <%= f.check_box :gauth_enabled %></p>
  <%= f.hidden_field :tmpid, value: @tmpid %>
  <p><%= f.label :gauth_token, I18n.t('devise.registration.enter_token') %><br />
  <%= f.number_field :gauth_token, autocomplete: :off %>

  <p><%= f.submit I18n.t('devise.registration.submit') %></p>
<% end %>

